name: CI

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  load-env:
    runs-on: ubuntu-latest
    outputs:
      postgres_version: ${{ steps.env.outputs.POSTGRES_VERSION }}
      python_version: ${{ steps.env.outputs.PYTHON_VERSION }}
      db_name: test_db
      db_user: test_user
      db_password: test_pass
    steps:
      - uses: actions/checkout@v4
      - id: env
        run: |
          echo "POSTGRES_VERSION=$(grep POSTGRES_VERSION .env.common | cut -d'=' -f2)" >> $GITHUB_OUTPUT
          echo "PYTHON_VERSION=$(grep PYTHON_VERSION .env.common | cut -d'=' -f2)" >> $GITHUB_OUTPUT

  test:
    needs: load-env
    runs-on: ubuntu-latest
    env:
        DJANGO_SECRET_KEY: 'cumgl4!imagd=p(n8*20&5qv6ay^39-s-7%^mo&xb$&)uf+7&%'
        DB_NAME: ${{ needs.load-env.outputs.db_name }}
        DB_USER: ${{ needs.load-env.outputs.db_user }}
        DB_PASSWORD: ${{ needs.load-env.outputs.db_password }}
        DB_HOST: localhost
    services:
      postgres:
        image: postgres:${{ needs.load-env.outputs.postgres_version }}
        env:
          POSTGRES_DB: ${{ needs.load-env.outputs.db_name }}
          POSTGRES_USER: ${{ needs.load-env.outputs.db_user }}
          POSTGRES_PASSWORD: ${{ needs.load-env.outputs.db_password }}
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ needs.load-env.outputs.python_version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r django/src/requirements.txt

      - name: Run migrations
        run: python django/src/manage.py migrate

      - name: Run tests
        run: python django/src/manage.py test
